$black: grey;
$light-black: lightgrey;

body {
  background-color: whitesmoke;
  color: $black;
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 1.0rem;
  margin: 0;
  padding: 0;
}

#container {
  height: 225px;
  width: 200px;
}

#queue-controls {
  .button {
    align-items: center;
    color: whitesmoke;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    height: 75px;
    justify-content: center;
  }

  .sooner-button {
    background: darkviolet;
  }

  .later-button {
    background: dodgerblue;
  }

  .now-button {
    background: orange;
  }
}
